.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.618);
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
